
<h7>User info</h7><br>

<% if notice %>
　　<p><%= notice %></p>
<% end %>
<% if alert %>
   <p><%= alert %></p>
<% end %>

<% if user_signed_in? %>
<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
<table>
	<thead>
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>introduction</td>
			<td><%= user.introduction %></td>
		</tr>
	</tbody>
</table>

<% if user.id == current_user.id %>
	<p><%= link_to "設定", edit_user_path(user.id) %></p>
<% end %>

<h3>New book</h3>
	<div class="sidebar">
			<%= form_for(book) do |f| %>
				<h4>Title</h4>
				<%= f.text_field :title %><br>

				<h4>Opinion</h4>
				<%= f.text_area :body %><br>
				<%= f.submit 'Create Book' %>
			<% end %>

	</div>
<% end %>