

<div class="col-xs-3">
<%= render 'books/list', book:@book, user:@user %>
</div>



<h8>Book detail</h8>


<div class="col-xs-9">
<table>
	<tbody>
		<tr>
			<td>
				<%= link_to user_path(@book.user.id) do %>
					  <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
					  <%= @book.user.name %>
				<% end %>
			</td>
			<td><%= link_to user_path(@user.id) do %>
					<%= @book.title %>
				<% end %>
			<td><%= @book.body %></td>
		<% if @book.user == current_user %>

				<td><%= link_to "Edit", edit_book_path(@book.id) %></td>
				<td><%= link_to "Destroy", book_path(@book.id), method: :delete, method: :delete, "data-confirm": "Are you sure"  %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

