<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <div id="slidemenu">
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Home", books_path %>
      </li>

      <li>
        <%= link_to "Users", books_path %>
      </li>

      <li>
        <%= link_to "Books", books_path %>
      </li>

      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Home", books_path %>
      </li>

      <li>
        <%= link_to "About", books_path %>
      </li>

      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>

      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>

  <div class="row">
      <div class="col-2"  style="background-color: red;">
        <%= render template: "books/new" %>
      </div>
      <div class="col-8">
        <%= yield%>
      </div>
    </div>
</body>
</html>

