<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="notice"><%= alert %></p>
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div id="slidemenu">
  <ul>
    <% if user_signed_in? %>
    <div class ="title Bookers">
      <p>Bookers</p>
    </div>
      <li>
        <%= link_to "Home", user_path(current_user) %>
      </li>

      <li>
        <%= link_to "Users", users_path %>
      </li>

      <li>
        <%= link_to "Books", books_path %>
      </li>

      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Home", root_path %>
      </li>

      <li>
        <%= link_to "About", home_about_path %>
      </li>

      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>

      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
  <div class="container">
    <div class="row">


        <%= yield%>
    </div>
  </div>
</body>
</html>

